development.driver=com.mysql.jdbc.Driver
development.username=franco
development.password=franco
development.url=jdbc:mysql://localhost:3306/repair_game

development.test.driver=com.mysql.jdbc.Driver
development.test.username=franco
development.test.password=franco
development.test.url=jdbc:mysql://localhost:3306/repair_game_test

test.driver=com.mysql.jdbc.Driver
test.username=franco
test.password=franco
test.url=jdbc:mysql://localhost:3306/repair_game_test


